/*main style for my resume */

#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 75px;
  font-family: 'lato', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

/*main sytles headers (education, skils, experience) */
.sectionheader {
  font-size: 40px;
  text-transform: uppercase;
  color: #5E7708;
  letter-spacing: 5px;
  padding-top: 15px;
}


.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
  padding-top: 15px;
}

.jobdetail {
  font-size: 15px;
  font-style: italic;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.degrees {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

/*main styles all lists */
.do {
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

#work{
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 30px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: medium;
  letter-spacing: 4px;
}

img.center {
  display: block;
  width: 1400px;
  margin: 0 auto;
}

img.headshot {
  margin-top: -100px;
  width: 175px;
  max-width: 1200px;
  margin-left: 42px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: thick;
  border-radius: 50%;
}

/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){

}

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
