

/*headline*/
#header {
  font-size: 55px;
  margin: 0 auto;
  max-width: 800px;
  font-family: georgia, serif;
  padding-top: 100px;
}

#Masthead {
  font-family: georgia, serif;
  font-size: 95px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 75px;
  font-variant: inherit;
}

#content {
  font-size: 12px;
  margin:0 auto;
  width:700px;
  font-family: Helvetica, Arial, sans-serif;
}

#byline{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  margin:0 auto;
  width:700px;
  padding-top: 20px;
}

#date {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin:0 auto;
  width:700px;
  font-style: italic;
}

#links {
  font-size: 13px;
  font-style: italic;
  font-family: georgia, serif;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

.caption {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 12px;
  font-style: italic;
  font-family: georgia, serif;

}

.pquote {
  float: left;
  width: 240px;
  font-weight: bold;
  margin: 0 10px 0 10px;
  font-family: georgia, serif;
  font-size: 20px;
  font-style: italic;
  background: #E8E8E8;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #E30A0A;
}

.pquote p:first-letter{
  font-size: 35px;
  font-weight: bold;
}

.Masthead{
  width: 100%;
  height: auto;
  max-width: 1100px;
  margin: auto;
  padding-bottom: 50px;
  display: block;
  }

blockquote{
  margin: 0;
}

img {
width: 100%;
height: auto;
max-width: 800px;
margin: auto;
padding-top: 20px;
padding-bottom: 5px;
display: block;
}

/*subheadlines*/
h2{
padding-top: 20px;
font-family: georgia, serif;
font-size: 20px;
}

hr{
  margin-bottom: 7px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  width: 90%;
  color: #030101;
  height: 3px;
  background-color: #030101;
  }
